 * {
     margin: 0;
     padding: 0;
 }

 body {
     min-height: 100vh;
     background-image: url(unsplash.jpg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;


 }

 nav {
     background-color: rgba(222, 228, 225, 0.338);
     box-shadow: 0px 5px 8px black;
 }

 nav ul {
     width: 100%;
     list-style: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 1.1rem;
 }

 nav li {
     height: 2rem;
     margin: 0.5rem;

 }

 nav a {

     text-decoration: none;
     display: flex;
     align-items: center;
     color: rgb(15, 14, 14);
     padding: 0 20px;


 }

 nav a:hover {
     background-color: rgba(225, 211, 211, 0.628);
 }

 nav li:first-child {
     margin-right: auto;
     font-size: 1.5rem;

 }

 nav li:last-child {
     margin-left: auto;

 }

 .Sidebar {
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 250px;
     z-index: 999;
     background-color: rgba(255, 255, 255, 0.322);
     backdrop-filter: blur(10px);
     box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.007);
     display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    

 }
 .Sidebar li{
    width: 100px;
 }
 .Sidebar a{
    width: 100px;
 }
 .menu-button{
    display: none;
 }
@media(max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .Sidebar{
        width: 100%;
        
    }
}