* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(top-view-black-frame-with-plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.516);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.441);
    padding: 0.8rem;


}

nav li {
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
}
nav li:last-child {
    margin-left: auto;
}

nav a {
    text-decoration: none;
}
nav a:hover{
    color: rgba(255, 228, 196, 0.05);
}

.sidebar{
    width: 250px;
    height: 100vh;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(2, 10, 8, 0.164);
    backdrop-filter: blur(15px);
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.582);
    z-index: 999;
}
.sidebar li:last-child{
    margin: 0;
}
.menu-button{
    display: flex;
}

@media(max-width:1300px){
    .sidebar{
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
    
}
@media(max-width:650px){
    .sidebar{
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }
    
}
